body {
    background-color: coral;
}
.itemDiv{
    margin:5px;
    padding:10px;
    background-color: cornflowerblue;
    display:flex;
    flex-direction: row;
    border-radius:3px;
}
.itemTitleDiv {
    font-weight: 700;
}
.itemTextDiv{
    flex:auto;
}
button{
    flex:0 0 auto;
}
.navBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.editDiv{
    display:flex;
    flex-direction:column;
}